.header {
  position: fixed;
  top: 0;
  right: 0;
  outline: none;
  width: 100vw;
  z-index: 10;
  transition: background-color, box-shadow 0.6s ease-out;
  transition: transform 0.2s ease-in;
  background-image: none;
}

.header.active {
  box-shadow: 0 0 1rem 0.1rem rgba(200, 200, 200, 0.2);
  
  backdrop-filter: blur(5px);
  background-color: rgb(20, 20, 20, 0.8);
  transform: translateY(-50%);
}

.header__wrapper {
  padding-block: 20px 10px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.header__home {
  /* display: none; */
  /* outline: 1px dotted magenta; */
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--text1);
  text-decoration: none;
  flex: 1 0 100%;
}

.header__nav-icon {
  /* display: inline-block; */
  /* outline: 1px dotted magenta; */
  margin-block: auto;
}

.header__nav-icon > svg {
  transition: transform var(--transition);
}

.header__nav-icon:hover > svg {
  transform: scale(1.3);
}

.header__nav-icon > svg > path {
  transition: fill var(--transition);
}

.header__nav-icon:hover > svg > path {
  fill: var(--cyan-400);
}

/* tablet media query */

@media (min-width: 37.5em) {
  .header__wrapper {
    padding-block-start: 30px;
  }

  .header.active {
    box-shadow: 0 0 1rem 0.1rem rgba(200, 200, 200, 0.2);
    background-color: rgb(20, 20, 20, 0.6);
    backdrop-filter: blur(5px);

    transform: unset;
  }

  .header__nav {
    justify-content: flex-start;
    gap: 32px;
    padding-right: 30px;
  }

  .header__home {
    flex: 0 1 auto;
    margin-inline-end: auto;
  }
}
